<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <title>UMC Meetdata Connected | Admin Center</title>
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-dark bg-primary fixed-top">
      <a class="navbar-brand mr-4" href="/">UMC Meetdata Connected | Admin Center</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link text-light" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="/patienten">Patiënten</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="/addpatient">Patiënt Toevoegen</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="/verpleging">Verpleging</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="/apparaten">Apparaten</a></li>
          <div class="dropdown-divider"></div>
          <li class="nav-item"><a class="nav-link text-light" href="/dashboard">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-8">{% block content %}{% endblock %}</div>
        <div class="col-6 col-md-4">
          <div class="media content-section">
              <div class="media-body">
                <h2 class="account-heading">Navigatie</h2>
                <a href="/"><p class="text-primary">Home</p></a>
                <p class="text-primary">Onze Tools:</p>
                <a href="/patienten"><input type="button" class="btn btn-link" value="Patiënten Lijst"></a>
                <a href="/addpatient"><input type="button" class="btn btn-link" value="Patiënt Toevoegen"></a>
                <a href="/verpleging"><input type="button" class="btn btn-link" value="Medewerkers Lijst"></a>
                <a href="/apparaten"><input type="button" class="btn btn-link" value="Apparatuur Lijst"></a>
              </div>
          </div>
        </div>
    </div>
  </div>

  <footer class="text-center">Developed by: Haydn Felida, Jeroen Verkerk, Sam Zandee, Shaniah Arrias, Maarten Mol. (All rights reserved)

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
