{% extends "layout.html" %}
{% block content %}
  <div class="media content-section">
    <div class="media-body">
      <h2 class="account-heading">{{ data['firstname'] + ' ' + data['lastname']}}</h2>
      <p class="text-secondary">ID: {{ data['_id'] }}</p>
      <p class="text-secondary">E-Mail: {{ data['email'] }}</p>
      <p class="text-secondary">Street: {{ data['street'] }}</p>
      <p class="text-secondary">City: {{ data['city'] }}</p>
      <p class="text-secondary">Locatie: {{ data['location'] }}</p>
    </div>
  </div>

  {% if metrics %}
    <h3>Metingen <a href="{{ '/addmetric=' + data['_id'] }}"><input type="button" class="btn btn-success btn-sm" value=" + "></a></h3>
    {% for meting in metrics %}
      <article class="media content-section">
        <div class="media-body">
            <div class="flex-wrap">
              <div class="d-inline-flex p-2 bg-primary text-white">{{ meting['timestamp'] }}</div>
              {% if meting['comment'] %}
                <div class="d-inline-flex p-2 bg-secondary text-white">&#x26A0; {{ meting['comment'] }}</div>
              {% endif %}
              {% if meting['bloeddruk'] %}
                <div class="d-inline-flex p-2 bg-danger text-white">{{ 'Bloeddruk: ' + meting['bloeddruk'] }}</div>
              {% endif %}
              {% if meting['gewicht'] %}
                <div class="d-inline-flex p-2 bg-success text-white">{{ meting['gewicht'] + ' KG' }}</div>
              {% endif %}
              {% if meting['temperatuur'] %}
                <div class="d-inline-flex p-2 bg-info text-white">{{ meting['temperatuur'] + '℃' }}</div>
              {% endif %}
              <div class="d-inline-flex p-2"><a href="{{ '/shownurse=' + meting['nurse_id'] }}"><input type="button" class="btn btn-dark btn-sm" value="Info Medewerker"></a></div>
              <div class="d-inline-flex p-2"><a href="{{ '/removemetric=' + meting['_id'] + '&patient=' + data['_id'] }}"><input type="button" class="btn btn-danger btn-sm" value="Remove"></a></div>
            </div>
          </div>
        </article>
    {% endfor %}
  {% else %}
    <h3>Geen Metingen Gevonden <a href="{{ '/addmetric=' + data['_id'] }}"><input type="button" class="btn btn-success btn-sm" value=" + "></a></h3>
  {% endif %}
{% endblock content %}
