{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <h2 class="account-heading">Search User</h2>
        <div class="form-group">
          {{ form.type.label(class="form-control-label") }}
          {% if form.type.errors %}
            {{ form.type(class="form-control form-control-lg is-invalterm") }}
            <div class="invalterm-feedback">
              {% for error in form.type.errors %}
                <span> {{error}} </span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.type(class="form-control form-control-lg") }}
          {% endif %}
          {{ form.term.label(class="form-control-label") }}
          {% if form.term.errors %}
            {{ form.term(class="form-control form-control-lg is-invalterm") }}
            <div class="invalterm-feedback">
              {% for error in form.term.errors %}
                <span> {{error}} </span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.term(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-secondary btn-lg") }}
      </div>
  </form>
</div>
{% endblock content %}
