{% extends "layout.html" %}
{% block content %}
  <div class="media content-section">
    <div class="media-body">
      <h2 class="account-heading">{{ info['firstname'] + ' ' + info['lastname']}}</h2>
      <p class="text-secondary">ID: {{ info['_id'] }}</p>
      <p class="text-secondary">E-Mail: {{ info['email'] }}</p>
      <p class="text-secondary">Street: {{ info['street'] }}</p>
      <p class="text-secondary">City: {{ info['city'] }}</p>
      <p class="text-secondary">Location: {{ info['location'] }}</p>
    </div>
  </div>

{% endblock content %}
